html {
  background: #fff;
}
h1 {
  width: 100%;
  text-align: center;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: normal;
}
body {
  margin: 0;
  padding: 0;
  background: #000;
  font-size: 22px;
  font-family: 'Quicksand', sans-serif;
  overflow-x: hidden;
}
a {
  color: #2f83f0;
  transition: 100ms;
}
a:hover {
  color: #ffcccc;
}
.socials {
  float: right;
}
.socials i {
  height: 30px;
  font-size: 18px;
  text-align: center;
  width: 30px;
  border-radius: 50px;
  padding: 11px 6px 0px;
  margin: 0px 2px;
  background: rgba(255, 255, 255, 0.22);
  color: #fff;
  transition: 300ms;
  cursor: pointer;
}
.socials i:hover {
  color: #ff8679;
}
header {
  width: 100%;
  min-height: 100vh;
  float: left;
  background-size: cover;
  position: relative;
  background-image: url('../images/hero-image.jpg');
  background-attachment: fixed;
}
header .overLay {
  position: absolute;
  overflow: auto;
  padding-top: 100px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: radial-gradient(rgba(0, 0, 0, 0.36), #000000);
  background: linear-gradient(rgba(0, 0, 0, 0.45), transparent);
  background-attachment: fixed;
}
header .overLay nav {
  font-size: 14px;
  padding: 20px;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  transition: 300ms;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .overLay nav#menu {
  transition: 600ms ease-in-out;
}
header .overLay nav#menu.sticky {
  background: #000;
  z-index: 10000;
  background: linear-gradient(to right, #490446, #eeba6f);
}
@media screen and (max-width: 630px) {
  header .overLay nav#menu .site-nav {
    width: 100%;
    text-align: center;
  }
}
header .overLay nav#menu .site-nav a {
  margin: 5px 10px;
  display: inline-block;
  cursor: pointer;
  transition: 150ms;
  text-decoration: none;
  padding-bottom: 3px;
  color: #fff;
}
header .overLay nav#menu .site-nav a:hover {
  color: #ff8679;
}
header .overLay nav#menu .site-nav a.active {
  border-bottom: 1px solid;
}
@media screen and (max-width: 630px) {
  header .overLay nav .socials {
    display: none;
  }
}
header .overLay .text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10%;
  right: 10%;
  width: 80%;
  font-size: 19px;
  line-height: 28px;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  text-shadow: 1px 1px rgba(12, 50, 10, 0.92);
}
header .overLay .text p {
  display: block;
  margin: 5px;
}
header .overLay .text .name {
  color: #ffcccc;
}
header .overLay .text button {
  border: 1px solid #ffcccc;
  color: #ffcccc;
  background: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  padding: 11px 17px;
  margin: 10px 5px;
  border-radius: 50px;
  font-family: 'Quicksand', sans-serif;
  outline: none;
  cursor: pointer;
  transition: 300ms;
}
header .overLay .text button:hover {
  background: rgba(0, 0, 0, 0.8);
  color: #ff8679;
  border-color: #ff8679;
}
.about {
  padding: 40px 100px 120px;
  text-align: center;
  line-height: 25px;
  font-size: 15px;
  float: left;
  background: #fff;
}
@media screen and (max-width: 990px) {
  .about {
    padding: 40px 50px 120px;
  }
}
@media screen and (max-width: 630px) {
  .about {
    padding: 40px 20px 120px;
  }
}
.about section.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
}
@media screen and (max-width: 990px) {
  .about section.intro {
    flex-direction: column;
  }
}
.about section.intro .me {
  background-image: url('../images/me2.jpg');
  min-width: 300px;
  max-width: 300px;
  height: 300px;
  border-radius: 50%;
  background-size: cover;
  background-position: -29px 300px;
  margin: 50px 0px;
  filter: hue-rotate(244deg);
}
@media screen and (max-width: 630px) {
  .about section.intro .me {
    min-width: 250px;
    max-width: 250px;
    height: 250px;
    background-position: -26px 249px;
  }
}
.about section.intro p {
  margin-left: 100px;
  color: #0f1e3f;
  line-height: 30px;
}
@media screen and (max-width: 990px) {
  .about section.intro p {
    margin-left: 0px;
  }
}
.about section.intro .socials {
  margin-top: 30px;
}
@media screen and (min-width: 630px) {
  .about section.intro .socials {
    display: none;
  }
}
.about section.intro .socials i {
  color: #b25555;
  border: 1px solid;
}
.about section.skills {
  padding-top: 60px;
}
.about section.skills h1 {
  margin-bottom: 30px;
}
.about section.skills .skillWrap {
  display: flex;
  width: 100%;
}
.about section.skills .skillWrap h2 {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: normal;
}
.about section.skills .skillWrap div {
  flex-grow: 1;
  width: 33%;
}
.about section.skills .skillWrap div span {
  display: inline-block;
  min-width: 51%;
  border: 1px solid rgba(103, 105, 80, 0.36);
  margin-top: 9px;
  padding: 10px;
  border-radius: 50px;
  font-size: 14px;
}
@media screen and (max-width: 990px) {
  .about section.skills .skillWrap div span {
    min-width: 71%;
  }
}
@media screen and (max-width: 630px) {
  .about section.skills .skillWrap div span {
    font-size: 12px;
  }
}
[portfolio] {
  padding-top: 100px;
  float: left;
  background: #f5f5ef;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
[portfolio]:before {
  top: 0;
  border-bottom: 70vh solid transparent;
  border-left: 170vw solid #fff;
  position: absolute;
  width: 0;
  height: 0;
  content: "";
  left: 0;
  right: 0;
  z-index: -1;
}
[portfolio] h1 {
  width: 100%;
  text-align: center;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: normal;
  margin-bottom: 100px;
}
[portfolio] .itemWrap {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% - 60px);
  margin: 0px 30px 30px;
}
[portfolio] .itemWrap .item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  cursor: pointer;
  min-width: calc(100% - 180px);
  width: calc(100% - 180px);
  transition: 300ms;
  font-family: 'Quicksand', sans-serif;
  border-radius: 4px;
  padding: 50px;
  margin: 15px 40px;
  background: #fff;
  border: 1px solid #daa36b;
  border: 1px solid #eea4b2;
}
@media screen and (max-width: 630px) {
  [portfolio] .itemWrap .item {
    padding: 30px 10px;
    margin: 15px 0px;
    min-width: calc(100% - 20px);
    width: calc(100% - 20px);
  }
}
[portfolio] .itemWrap .item .imgWrap {
  grid-row: 1 / 6;
  grid-column: 1 / 2;
  align-self: center;
  position: relative;
  width: calc(100% - 50px);
  margin-right: 50px;
  margin-bottom: 10px;
  overflow: hidden;
}
@media screen and (max-width: 990px) {
  [portfolio] .itemWrap .item .imgWrap {
    grid-row: 5 / 7;
    grid-column: 1 / 3;
    width: 100%;
    text-align: center;
  }
}
[portfolio] .itemWrap .item .imgWrap img {
  transition: 300ms;
  width: 99%;
  max-width: 500px;
  border: 1px solid #ccc;
}
[portfolio] .itemWrap .item a.link {
  grid-row: 6 / 7;
  grid-column: 1 / 2;
  margin-right: 50px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  font-size: 15px;
  text-align: center;
}
@media screen and (max-width: 990px) {
  [portfolio] .itemWrap .item a.link {
    grid-row:  10 / 12;
    grid-column: 1 / 3;
    width: 100%;
  }
}
[portfolio] .itemWrap .item p {
  grid-row: 2 / 5;
  grid-column: 2 / 3;
  padding: 15px 0px;
  font-size: 14px;
  line-height: 30px;
  color: #4b4b4b;
}
@media screen and (max-width: 990px) {
  [portfolio] .itemWrap .item p {
    grid-row: 2 / 5;
    grid-column: 1 / 3;
    text-align: center;
  }
}
[portfolio] .itemWrap .item p i {
  margin: 0px 10px;
  font-size: 22px;
}
[portfolio] .itemWrap .item h2 {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0px 0px 25px;
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 1px;
  font-family: 'Quicksand', sans-serif;
  color: #4b4b4b;
  border-bottom: 1px solid #f3d2bd;
}
@media screen and (max-width: 990px) {
  [portfolio] .itemWrap .item h2 {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
  }
}
[portfolio] .itemWrap .item .tech {
  grid-row: 5 / 7;
  grid-column: 2 / 3;
  font-size: 13px;
  text-align: center;
  margin: 10px;
  line-height: 20px;
  color: #ffcccc;
}
@media screen and (max-width: 990px) {
  [portfolio] .itemWrap .item .tech {
    grid-row: 8 / 10;
    grid-column: 1 / 3;
  }
}
[portfolio] .itemWrap .item .tech i {
  margin-right: 5px;
  font-size: 14px;
  color: #555;
  font-weight: bold;
}
[portfolio] .itemWrap .item .tech span {
  display: inline-block;
  border: 1px solid rgba(75, 75, 75, 0.7);
  margin-top: 5px;
  padding: 5px 15px;
  margin-left: 5px;
  border-radius: 50px;
  font-size: 12px;
  color: rgba(75, 75, 75, 0.9);
}
[portfolio] .itemWrap .item .image {
  height: 300px;
  background-size: contain;
  margin: 20px;
  border: 1px solid #ccc;
  background-repeat: no-repeat;
  position: relative;
}
[contact] {
  text-align: center;
  min-height: 90vh;
  float: left;
  width: 100%;
  background: linear-gradient(to bottom right, #144f26, #190c0c);
  font-size: 17px;
  color: #fff;
  background-image: url('../images/contact-image.jpg');
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  color: #ff8679;
}
[contact] .email {
  display: block;
  font-size: 24px;
}
[contact] .overLay {
  position: absolute;
  overflow: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(rgba(0, 0, 0, 0), #000000);
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgba(11, 11, 11, 0.95);
}
[contact] .overLay .photo-creds {
  position: absolute;
  bottom: 10px;
  left: 20px;
  background: rgba(0, 0, 0, 0.9);
  border: 1px solid;
  border-radius: 50px;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  opacity: 0.7;
  transition: 400ms;
}
[contact] .overLay .photo-creds:hover {
  opacity: 1;
}
[contact] .overLay .photo-creds:hover span {
  max-width: 250px;
  margin-left: 8px;
}
[contact] .overLay .photo-creds span {
  display: inline-block;
  max-width: 0px;
  overflow: hidden;
  font-size: 14px;
  transition: 500ms;
  white-space: nowrap;
}
[contact] .overLay .photo-creds span a {
  color: #fff;
}
#backToTop {
  position: fixed;
  bottom: 0px;
  right: 20px;
  font-size: 15px;
  opacity: 0;
  transition: 600ms;
  z-index: 1000;
  width: 52px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  background: rgba(113, 48, 82, 0.9);
  padding: 11px 0px 9px;
  text-align: center;
  color: #fff;
}
#backToTop:hover {
  color: #ff8080;
}
#backToTop.active {
  opacity: 1;
}
