<div class="container">
    <h1 data-aos="fade-up"> Recent Work</h1>

    <div class="itemWrap">
        <div class="item" ng-repeat="item in portfolioItems">
           <div class="imgWrap">
               <img ng-src="../images/portfolio/{{item.image}}"></img>
               <a class="overlay" ng-if="item.link" href={{item.link}} target="_blank">
                   <i class="fa fa-arrow-right"></i>
               </a>
           </div>
           <a class="link" ng-if="item.link" href={{item.link}} target="_blank">
               <span ng-if="item.isLinkDirect"> Visit Site!</span>
               <span ng-if="!item.isLinkDirect">Find out More!</span>
           </a>
           <h2>{{item.title}}</h2> 
            <p>{{item.desc}}</p>
            <div class="tech">
                <span ng-repeat="tech in item.tech">{{tech}}</span>
            </div>
        </div>
    </div>
</div>
